/* Import Google Fonts and global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    z-index: 100;
}

.logo a {
    text-decoration: none; 
    color: #2c2c2c;
}

.logo {
    font-size: 2em;
    font-weight: 600;
    cursor: pointer; 
    margin-right: 500px;
}

.navigation a {
    text-decoration: none;
    color: #2c2c2c;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 400;
}

.navigation a:hover, 
.navigation a.active {
    background-color: #2c2c2c; 
    color: #fff; 
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 10em;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, .2);
    transform: translateX(100%); 
    transition: transform 0.5s ease; 
}

a {
    text-decoration: none;
}

.button.show-back {
    position: absolute;
    bottom: 70px; 
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.button.show-back:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background-color: #000000;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 100;
    color: #ffffff;
}

.sec p {
    font-size: 1em;
    font-weight: 50;
    color: #ffffff;
}

.service {
    position: relative;
    background-color: #ffffff;
    padding: 100px;
}

.service h2 {
    font-size: 3em;
    color: #2c2c2c;
    margin-bottom: 10px;
    font-weight: 100;
}

.service p {
    font-size: 1em;
    color: #444444;
    font-weight: 50;
}

.footer {
    background-color: #000; 
    color: #fff; 
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.contact-info h2,
.social-media h2 {
    font-size: 1em; 
    font-weight: 100; 
}

.contact-info p {
    font-size: 0.8em; 
    font-weight: 300; 
}

.social-icon {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.copyright {
    background-color: #ff3838; 
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 100;
}


